{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}
{% block body %}
  <h2>Sign in</h2>
  <form action="" method=post>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    
      <dl>
        <dt>OpenID:</dt>
        <dt><input type=text name=openid size=27> <input type=submit value="Sign in"></dd>
      </dl> 
      <br>
      <strong>or</strong>
      <br>
      <dl>
          <dt>Username:</dt>
          <dt><input type=text name=username size=30></dd>
          <dt>Password:</dt>
          <dt><input type=password name=password size=30> <input type=submit value="Sign in"></dd>
   	  </dl>      
   	  <hr>
      <input type=hidden name=next value="{{ next }}">
  </form>
{% endblock %}
