{% extends "layout.html" %}
{% block title %}Show all user profiles on System{% endblock %}
{% block body %}
  <hr>
  <h2>List of Profiles Logged onto the System</h2>
  <ul>
    {% for user in users %}
      <li>{{ user.name }} | {{ user.email }} | {{ user.password }} | {{ user.openid }}</li>
    {% endfor %}
  </ul>
  <hr>
  <h2>Add a new user to the system:</h2>
  <form action="" method=post>
    <dl>
      <dt>Name:
      <dt><input type=text name=name size=30 value="">
      <dt>E-Mail
      <dt><input type=text name=email size=30 value="">
      <dt>Password:
      <dt><input type=password name=password size=30 value="">
      <dt>OpenID:
      <dt><input type=text name=openid size=27 value="">
    </dl>
    <input type=submit value="Add User">
    <input type=hidden name=next value="{{ next }}">
  </form>
  <hr>
{% endblock %}
